@import "../../../global/scss/config";

.flight-form {
  @include scale-max-content-width;
  @include flex(column, space-between, flex-start);
  @include max-size;

  &-content {
    @include pad-box(24px);
    background: $secondary-background-color;
    width:100%;
  }

  .question-header {
    @include font(14px, 500, 0, $medium-gray);
  }
}

.flight-form-drawer {
  & .flight-form {
    width:100%;
    &.as-drawer {
      //@include pad-box(24px);
    }
  }
}